html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #111;
}

html {
  background: #111;
}

body {
  font-family: 'Google Sans', sans-serif;
  font-size: 14px;
  background: rgba(17, 17, 17, 0.1);
}

/* Mobile scroll */
@media (max-width: 767px) {
  html, body {
    overflow-x: hidden;
  }
  
  body {
    overflow-y: auto;
  }
}

body.dragging {
  cursor: ns-resize;
}

body.dragging * {
  user-select: none;
  pointer-events: none;
}
